<footer role="contentinfo">
  <div>
    <p>
      Copyright &copy; {{ hlp.11ty.year() }}
      {{ settings.author.name }} All rights reserved
    </p>
  </div>
  {% if env.node_env == 'development' %}
    <div style="text-align: center;">
      <p>
        NODE ENV {{ env.node_env }}
      </p>
    </div>
  {% endif %}
</footer>
