<section role="banner" style="--bg: transparent">
  <div>
    <h2>
      {{ settings.description }}
    </h2>
    {# <a href="#quick-start" role="button" title="Read the documentation"
                                  ><em>Get Started</em></a
                                > #}
  </div>
</section>
